body
{
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Rubik", sans-serif;
}

.chapter
{
  height: 100vh;
  position: relative;
  // border-top: 1px solid black;
  // border-bottom: 1px solid black;

  .chaptertext
  {
    color: rgb(216, 216, 216);
    
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4em;
    font-weight: 300;
    max-width: 500px;
    text-align: justify;
    hyphens: auto;
    transition: color 2s ease;

    b
    {
      font-weight: 400;
    }
  }

}

.active .chaptertext
{
  color: #000 !important;
}

#chapter_speedtest 
{
  input 
  {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    margin: 20px 0;
  }

  .writingtesttitle
  {
    font-size: 0.8em;
    padding: 40px 0 0 0;
    display: block;

  }

  .textsample
  {
    color: grey;
    font-size: 0.8em;
  }

  .typed
  {
    color: rgb(233, 233, 233);
  }

  .timer
  {
    font-size: 0.8em;
    text-align: center;
    display: none;
  }
}

.yourwritingspeed
{
  font-weight: bold;
}

svg.intro {
  max-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  


  .text { 
    display: none;
  }
  &.go {
    .text {
      font-family: "Rubik", Arial, sans-serif;
      font-weight: normal;
      text-transform: uppercase;
      display: block;
    }

    .text_h2
    {
      font-weight: 300;
      // letter-spacing: 2px;
      
      font-size: 8px;
    }

    .text_h1
    {
      font-size: 15px;
    }

    .text-stroke {
      fill: none;
      stroke: #3e3e3e;
      stroke-width: 8px;
      stroke-dashoffset: -900;
      stroke-dasharray: 900;
      stroke-linecap: butt;
      stroke-linejoin: round;
      animation: dash 2.5s ease-in-out forwards;
    }

    .text-stroke:nth-child(2) {
      animation-delay: .3s;
    }
    .text-stroke:nth-child(3) {
      animation-delay: .9s;
    }
    // .text-stroke-2 {
    //   stroke: #000000;
    //   animation-delay: 1.2s;
    // }
    // .text-stroke:nth-child(5) {
    //   animation-delay: 1.5s;
    // }
    // .text-stroke:nth-child(6) {
    //   animation-delay: 1.8s;
    // }
  }
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

