body
{
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Rubik", sans-serif;
}

#start
{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 1000;
  text-align: center;

  #play
  {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    cursor: pointer;
  }

  .progress
  {
    display: none;
    background-color: rgb(205, 205, 205);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 25px;
    transform: translate(-50%, -50%);

    .inner
    {
      height: 100%;
      width: 0%;
      background-color: blue;

      span
      {
        color: white;
        font-size: 0.6em;
        text-align: center;
        display: block;
        padding: 6px;
        margin: 0;
      }
    }
  }
}

.chapter
{
  height: 100vh;
  position: relative;
  // border-top: 1px solid black;
  // border-bottom: 1px solid black;

  .chaptertext
  {
    color: rgb(216, 216, 216);
    
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4em;
    font-weight: 300;
    max-width: 500px;
    text-align: justify;
    hyphens: auto;
    transition: color 2s ease;

    b
    {
      font-weight: 400;
    }
  }

}

.active .chaptertext
{
  color: #000 !important;
}

#chapter_speedtest 
{
  input 
  {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    margin: 20px 0;
  }

  .writingtesttitle
  {
    font-size: 0.8em;
    padding: 40px 0 0 0;
    display: block;

  }

  .textsample
  {
    color: grey;
    font-size: 0.8em;
  }

  .typed
  {
    color: rgb(233, 233, 233);
  }

  .timer
  {
    font-size: 0.8em;
    text-align: center;
    display: none;
  }
}

#chapter_barcharts .scrolltext
{
  position: absolute;
  left: calc((50% - 250px) / 2);
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: grey;
  height: 50px;
  overflow: hidden;

  .inner
  {
    position: relative;
    transition: all 0.5s ease 0s;
    span
    {
      height: 50px;
      display: block;
    }
  }
}

.yourwritingspeed
{
  font-weight: bold;
}


#chapter_letsplay
{
  input 
  {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    margin: 80px 0;
    cursor: pointer;
  }
}

#gameoverlay
{
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;

  .inner
  {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;

    .clock
    {
      font-size: 1.5em;
    }

    .points
    {
      font-size: 3em;
    }

    .icon
    {
      float: left;
      height: 90px;
    }

    .clearfix
    {
      clear: both;
    }

    .description
    {
      font-size: 1.2em;

      float: left;
      height: 90px;
      width: 350px;
      vertical-align: middle;
      margin: 30px 0 0 0;

    }

  }
}

.credits
{
  font-size: 0.8em;
  padding: 50px 0 0 0;
  span
  {
    text-decoration: underline;
  }

  p
  {
    font-size: 0.6em;
    color: grey;
  }
}

a, a:visited
{
  color: rgb(72, 72, 72);
  text-decoration: underline;
}


svg.intro {
  max-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  


  .text { 
    display: none;
  }
  &.go {
    .text {
      font-family: "Rubik", Arial, sans-serif;
      font-weight: normal;
      text-transform: uppercase;
      display: block;
    }

    .text_h2
    {
      font-weight: 300;
      // letter-spacing: 2px;
      
      font-size: 8px;
    }

    .text_h1
    {
      font-size: 15px;
    }

    .text-stroke {
      fill: none;
      stroke: #3e3e3e;
      stroke-width: 4px;
      stroke-dashoffset: -100;
      stroke-dasharray: 900;
      stroke-linecap: butt;
      stroke-linejoin: round;
      animation: dash 1.0s ease-out forwards;
    }

    .text-stroke:nth-child(2) {
      animation-delay: .3s;
    }
  }
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

